<div class="sidebar" ng-show="active.name">
    <div class="sidebar-header" style="overflow: hidden;">
        <a style="float: right; color: white; opacity: 1" href="/" ng-click="resetActive();" type="button" class="close">&times;</a>
        {{ active.name }}
    </div>
    <table class="table" ng-hide="gps">
        <tr>
            <td>IP</td>
            <td ng-bind="active.node.ip"></td>
        </tr>
        <tr>
            <td>Active routes<br />Inactive routes</td>
            <td>{{ active.node.routing.active }}<br />{{ active.node.routing.inactive }}</td>
        </tr>
        <tr>
            <td>Uptime<br />Model<br />Version<br />Firmware</td>
            <td>{{ active.node.sysinfo.uptime }}<br />{{ active.node.sysinfo.model }}<br />{{ active.node.sysinfo.version }}<br />{{ active.node.sysinfo.firmware }}</td>
        </tr>
        <tr>
            <td>OSPF Instance<br />State<br />RouterId<br />Dijkstras</td>
            <td><br />{{ active.node.ospf.state }}<br />{{ active.node.ospf.routerId }}<br />{{ active.node.ospf.dijkstras }}</td>
        </tr>
        <tr ng-show="active.node.omnitik">
            <td>Connected users</td>
            <td ng-bind="active.node.connectedUsers"></td>
        </tr>
    </table>
    <button type="button" class="pull-right btn btn-danger" style="margin: 0 1em;">GPS</button>
    <a href="/info/node/{{ active.node.name }}" class="pull-right btn btn-warning" style="margin: 0 1em;">Details</a>
</div>
