html,body {
    height: 100%;
}

.container  {
    width: 100%;
    padding: 0;
}

.angular-leaflet-map {
    height: 100%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.form-search input.search-query {
    padding-left: 40px;
}

.navbar-default a.navbar-brand {
    font-size: 2em;
    font-weight: bold;
}

img.graph {
    width: 400px;
}

.navbar {
    width: 90%;
}

div.aside {
    width: 25%;
    background: #f1f2f6;
}
