<div class="sidebar" ng-show="active.name">
    <div class="sidebar-header">
        <a style="float: right; color: white; opacity: 1" href="/" ng-click="resetActive();" type="button" class="close">&times;</a>
        {{ active.name }} ({{ active.distance }} meters)
    </div>
    <table class="table">
        <tr ng-show="active.link.n1.ospf">
            <td>OSPF {{ active.link.n1.name }}<br />State<br />Adjacency</br>State changes</td>
            <td><br />{{ active.link.n1.ospf.state }}<br />{{ active.link.n1.ospf.adjacency }}<br />{{ active.link.n1.ospf.stateChanges }}</td>
        </tr>
        <tr ng-show="active.link.n2.ospf">
            <td>OSPF {{ active.link.n2.name }}<br />State<br />Adjacency</br>State changes</td>
            <td><br />{{ active.link.n2.ospf.state }}<br />{{ active.link.n2.ospf.adjacency }}<br />{{ active.link.n2.ospf.stateChanges }}</td>
        </tr>
    </table>
    <a href="/link/#/{{ active.link.n1.name }}/{{ active.link.n2.name }}" class="pull-right btn btn-warning" style="margin: 0 1em;">Details</a>
</div>
