doctype html
html(lang='en')
  head
      base(href='')
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width')
      title= GPS
      block css
          link(rel='stylesheet', href='/components/semantic-ui/dist/semantic.min.css')
          link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
          link(rel='stylesheet', href='/components/leaflet/dist/leaflet.css')
          link(rel='stylesheet',href='/components/Leaflet.label/dist/leaflet.label.css')
          link(rel='stylesheet', href='/components/Leaflet.ExtraMarkers/src/leaflet.extra-markers.css')
          link(rel='stylesheet', href='/components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css')
          link(rel='stylesheet' href='/dist/app.min.css')

      block customcss
      block js
          script(src='//maps.google.com/maps/api/js?key=AIzaSyDOhH9DXJLd9Kwa692ZemSrICxpsReRHQ0')
          script(src='/components/jquery/dist/jquery.min.js')
          script(src='/components/semantic-ui/dist/semantic.min.js')
          script(src='/components/angular/angular.min.js')
          script(src='/components/angular-route/angular-route.min.js')
          script(src='/components/leaflet/dist/leaflet.js')
          script(src='/components/satellizer/dist/satellizer.min.js')
          script(src='/components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js')
          script(src='/components/leaflet-plugins/layer/tile/Google.js')
          script(src='/components/Leaflet.label/dist/leaflet.label.js')
          script(src="/components/Leaflet.ExtraMarkers/src/leaflet.extra-markers.js")
          script(src='/components/angular-leaflet-directive/dist/angular-leaflet-directive.js')
          script(src='/dist/app.js')
      block customjs

      block content

      div.ui.small.modal.addnode
        i.close.icon
        div.header Add Node
        div.content
            form.ui.form
                div.field
                    label Node name
                    input(type="text", name="nodename", ng-model="nodename", placeholder="Node name")
                div.field
                    label Node main IP
                    input(type="password", name="nodeip", ng-model="nodeip", placeholder="Node main IP")
                div.field
                    leaflet(id="new", width="100%", height="240px", center="newNodeCenter", layers="layers")
                button.ui.button(ng-click="api.addNode(nodename, nodeip, newNodeCenter)") Submit

      div.ui.small.modal.login
        i.close.icon
        div.header Login
        div.content
            form.ui.form
                div.field
                    label Username
                    input(type="text", name="username", ng-model="username", placeholder="Username")
                div.field
                    label Password
                    input(type="password", name="password", ng-model="password", placeholder="Password")
                button.ui.button(ng-click="login(username, password, location.path)") Submit
