extends ./layout.jade
block customcss
    style.
        html {
            margin: 2em auto;
            max-width: 1200px;
        }

block customjs
    script(src='/js/routes/link.js')

block content
    body(ng-app='gps', ng-controller='LinkController')
        div.ui.page.segment
            div.grid
                div.wide.column
                    div.ui.inverted.blue.menu
                        a.header.item(href="/") GPS
                        a.item(ng-href="#/{{ link.nodes[0].name }}/{{ link.nodes[1].name }}") Link {{ link.nodes[0].name }} - {{ link.nodes[1].name }}
                        div.right.menu
                            div.item(ng-if="user.isAuthenticated()")
                                div.ui.labeled.icon.top.right.pointing.dropdown.button
                                    i.wrench.icon
                                    span.text Link Management
                                    div.menu
                                        div.header Link Management
                                        div.item(ng-if="!link.discovered", ng-click="api.disableLink(link)") Disable link
                                        div.item(ng-if="link.discovered" ng-click="api.enableLink(link)") Enable link
                                        div.item(ng-click="api.deleteLink(link)") Delete link
                            div.item
                                include login


        div.ui.page.ng-view
