extends ./layout.jade

block customjs
    script(src='/js/routes/map.js')

block content
    body(ng-app='gps', ng-controller='MapController')
        div.ui.large.inverted.vertical.wide.sidebar.menu
            div.ui.ng-view

        div.ui.pusher.full
            leaflet.full(center='center', bounds='bounds', markers='nodes', paths='paths', event-broadcast='events', layers='layers')
