extends ./layout.jade

block customjs
    script(src='/js/routes/map.js')

block content
    body(ng-app='gps', ng-controller='MapController')
        div.ui.large.inverted.vertical.wide.sidebar.menu
            div.ui.ng-view

        div.ui.pusher.full
            div.small.ui.olive.button.login(ng-click="user.showLogin()", ng-show="!user.isAuthenticated()") Login
            div.small.ui.red.button.login(ng-click="user.logout()", ng-show="user.isAuthenticated()") Logout

            leaflet.full(center='center', bounds='bounds', markers='nodes', paths='paths', event-broadcast='events', layers='layers')
